// nextflow.config

params {
    // Define working directory
    working_dir = "/data/scratch/projects/punim1441/Project_cortex_organoid_LRsc/sc_workflow_cortex_organoids"
    
    // Define lists of samples
    samples = ["org_1A_gene_count.csv", "org_1B_gene_count.csv"]
    background_samples = ["org_1A_gene_count.csv", "org_1B_gene_count.csv"]
    
    //empty drops params
    fdr = [0.01, 0.001]
    lower = [200, 300]

    //decontx 


    // basic - QC 


    // sctype 


    // Define path to reference table
    ref_table = "resources/v41_ENSG_ID_GENEsymbol.csv"
}